<!DOCTYPE html>
<html>
<head>
    <script src="/assets/js/date.js"></script>
    <title>Chunk Upload Example</title>
    <style>
        #progressBar {
            width: 0%;
            height: 20px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 20px;
            color: white;
            border-radius: 5px;
            transition: width 0.3s; /* 부드러운 전환 효과 */
        }
        #progressContainer {
            width: 100%;
            background-color: #f3f3f3;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h1>청크 파일 업로드</h1>
<input type="file" id="fileInput">
<button onclick="startUpload()">업로드 시작</button>

<div id="progressContainer">
    <div id="progressBar"></div>
</div>
<p>진행 상황: <span id="progressText">0%</span></p>

<script>
    const chunkSize = 1024 * 1024; // 1MB
    const fileInput = document.getElementById('fileInput');
    const progressBar = document.getElementById('progressBar');
    const progressText = document.getElementById('progressText');
    let progressSuccessCnt = 0;
    let progressLastCnt = 0;
    let totalChunkCnt = 0;

    async function startUpload() {
        progressSuccessCnt = 0;
        setProgress();

        const file = fileInput.files[0];
        if (!file) {
            alert('파일을 선택해주세요.');
            return;
        }

        totalChunkCnt = Math.ceil(file.size / chunkSize);
        progressLastCnt = totalChunkCnt;

        // 로딩 시작
        progressBar.style.width = '0%';
        progressBar.textContent = '0%';
        progressText.textContent = '0%';

        try {
            let tempDirName = new CustomDate().format('yyyyMMddHHmmssSSS');
            for(let currentIndex=0;currentIndex < totalChunkCnt;currentIndex++) {
                const start = currentIndex * chunkSize;
                const end = Math.min(start + chunkSize, file.size);
                const chunk = file.slice(start, end);

                const formData = new FormData();
                formData.append('chunk', chunk);
                formData.append('uniqueTempDirName', tempDirName);
                formData.append('originFileName', file.name);
                formData.append('currentIndex', currentIndex);
                formData.append('totalChunkCnt', totalChunkCnt);

                const response = await fetch('/chunk-upload', {method: 'POST', body: formData})
                const json = await response.json();

                if(json.status !== 200) {
                    throw new Error(json.message);
                }

                progressSuccessCnt++;
                setProgress();
            }

            progressSuccessCnt = progressLastCnt;
            setProgress();
        } catch (e) {
            console.error(e);
            progressSuccessCnt = -1;
            setProgress();
        }
    }

    function setProgress() {
        console.log("progressSuccessCnt", progressSuccessCnt, "progressLastCnt", progressLastCnt);

        if(progressSuccessCnt === -1) {
            progressBar.style.width = '100%';
            progressBar.style.backgroundColor = '#000';
            progressBar.textContent = "오류";
            progressText.textContent = "오류";
            return;
        }

        const per = Math.ceil(Math.min((progressSuccessCnt / progressLastCnt) * 1000, 1000)) / 10;
        let text = `${per}%`;
        if(per === 100) {
            text = '완료';
        }
        progressBar.style.width = `${per}%`;
        progressBar.textContent = text;
        progressText.textContent = text;
    }
</script>

</body>
</html>